main {
  /* background-image: url("../img/wineglasses.jpg"); */
  background-size: 960px;
  height: 625px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 
 
}

body {
  width: 960px;
  margin: auto;
  background-color:rgb(37, 19, 24);
  
}
a {
  text-decoration: none;
  color: black;
   
}
#title a {
  color: white;
margin-top: .5em;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 4em;
  padding-top: 5px;
  text-shadow: black 5px 5px;
 
}
header{
 
  display:flex;
  justify-content: center;
  padding-bottom: 15px;
  margin-top: 40px;
}
table {
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  border: white 1px solid;
  margin-top: 15px;
  background-color:rgb(66, 34, 43);
}
/* table tr{
  display:flex;
  justify-content: center;
} */
table th{
  padding: 5px;
  border: white 1px solid;
  border-bottom: white 2px solid;
  padding-bottom: 25px;
  padding-top: 25px;
  font-size: 20px;
  text-shadow: black 2px 2px;
  min-width: 150px;

}
table td{
  min-width: 150px;
  border: white 1px solid;
  padding: 8px;
  font-size: 18px;
}

#new-wine-section{
  color: white;
  padding-bottom: 25px;
}

h2{
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5em;
  padding-bottom: 15px;
  padding-top: 25px;
}

#new-wine{
  display: flex;
  justify-content: center;
  align-items: center;
}

label{
  margin: 5px;
}